[user]
  name = studio3104
  email = studio3104.com@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
	autocrlf = input

[color]
  diff = always
  diff-highlight = always
	ui = true

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[interactive]
  diffFilter = 'diff-highlight'

[ghq]
  root = ~/src
[credential]
	UseHttpPath = true
